    .sidebar {
        width: 100px;
        position: fixed;
        bottom: 0;
        top:55px;
        background-color: white;
    }

    .sidebar-link {
        background-color: lightgray;
        height: 70px;
        margin-bottom: 1px;
    }

    .home {
        height: 40px;
    }

    .explore {
        height: 40px;
    }

    .subscriptions {
        height: 40px;
    }

    .originals {
        height: 40px;
    }

    .youtube-music {
        height: 40px;
    }

    .library {
        height: 40px;
    }