p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:0;
    margin-bottom:0;
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.videos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 40px;
}

.search{
    display:block;
    margin-bottom: 10px;
}

.image{
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
}

.description{
    margin-top: 0%;
    font-weight: bold;
    font-style: Roboto ;
    line-height: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.channel{
    width: 50px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

.video-info{
    width: 200px;
    display: inline-block;
}

.channel-img{
    width: 40px;
    border-radius: 150px;
}

.author , .video-stats{
    color:rgb(96, 96, 96);
    cursor: pointer;
}